<form id="adminLoginForm">
	email: <input type="s" id="email"><br>
	password: <input type="passport" id="password"><br>
	<button type="submit">Login</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/static/libraries/graphql.min.js"></script>
<script src="/static/js/admin/login.js"></script>
